.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__info {
  margin-left: 60px;
}

.about__info h3 {
  font-family: $ff-placeholder-second;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 16px 0 7px;
}

.about__info span {
  display: block;
  font-family: $ff-placeholder;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 39px;
}

.about__info p {
  font-family: $ff-placeholder;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 8px;

  max-width: 355px;

  &:last-child {
    margin: 0;
  }
}

// about__image

.about__image {
  align-self: flex-start;

  width: 660px;
  height: 401px;
}
