.advantages {
  background-color: $color-ghost-white;
}

.advantages__container {
  padding: 120px 20px;

  @include vp-1199 {
    padding: 100px 5px;
  }

  @include vp-767 {
    max-width: none;
    padding: 70px 0 64px;
    margin: 0;
  }
}

.advantages h2 {
  margin: 0 0 80px 0;

  @include vp-767 {
    margin: 0 0 45px;
  }
}

// advantages__grid
.advantages__grid {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 340px 240px 340px;
  grid-template-rows: repeat(2, 154px);
  grid-column-gap: 60px;
  margin: 0 60px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    row-gap: 50px;
    column-gap: 50px;
    margin: 0;
  }

  @include vp-767 {
    display: block;
  }
}

.advantages__block {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 80px;
    left: 0;

    @include vp-767 {
      left: 50%;
      top: 0;
      transform: translate(-50%);
    }
  }

  @include vp-767 {
    text-align: center;
    padding: 0 15px;
    margin: 0 auto 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--square {
    padding-left: 155px;

    @include vp-767 {
      padding: 80px 67px 0;
    }
  }

  &--square::before {
    background-image: url("../img/svg/900.svg");
    width: 108px;
  }

  &--parking {
    padding-left: 107px;

    @include vp-767 {
      padding: 80px 45px 0;
      margin-bottom: 45px;
    }
  }

  &--parking::before {
    background-image: url("../img/svg/70.svg");
    width: 72px;
  }

  &--сomfort {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding-left: 138px;

    @include vp-767 {
      padding: 87px 50px 0;
    }
  }

  &--сomfort::before {
    background-image: url("../img/svg/350.svg");
    width: 108px;
  }

  &--сoach {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding-left: 107px;

    @include vp-767 {
      padding: 80px 43px 0;
    }
  }

  &--сoach::before {
    background-image: url("../img/svg/5.svg");
    width: 70px;
  }
}

.advantages__block h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin: 0 0 20px 0;

  @include vp-767 {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 3px;
  }
}

.advantages__block p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

// .advantages__block--center
.advantages__block--center {
  background-color: $color-resolution-blue;
  color: $color-default-white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-column: 2/3;
  grid-row: 1/-1;

  @include vp-1199 {
    width: 442px;
    padding: 45px 36px;

    justify-self: center;
    grid-column: 1/-1;
    grid-row: auto;
  }

  @include vp-767 {
    width: 100%;
  }
}

.advantages__block.advantages__block--center {
  @include vp-767 {
    padding: 16px 65px 43px 65px;
  }
}

.advantages__block--center span {
  font-weight: 700;
  font-size: 74px;
  line-height: 111px;

  order: -1;

  @include vp-767 {
    margin-bottom: -22px;
  }
}

.advantages__block--center h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;

  @include vp-767 {
    font-size: 22px;
    line-height: 33px;
    margin: 0 0 9px;
  }
}

.advantages__block--center p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 172px;

  @include vp-767 {
    max-width: none;
  }
}

// .advantages__icon {
//   width: 108px;
//   height: 71px;

//   position: relative;

//   &::before {
//     content: "";
//     position: absolute;
//     background-image: url("../img/svg/900.svg");
//     background-repeat: no-repeat;
//     background-position: 0 0;
//     width: 108px;
//     height: 71px;
//     left: 0;
//   }
// }
