.contact {
  padding: 70px 0 60px 124px;

  @include vp-1199 {
    padding: 0;

    @media (prefers-color-scheme: dark) {
      background: $color-default-black-2;
    }
  }
}

.contact__wrapper {
  @include vp-1199 {
    max-width: 688px;
    padding: 70px 5px 63px 5px;
    margin: 0 auto;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 70px 15px 62px 15px;
  }
}

.contact h2 {
  text-align: left;
  margin: 0 0 41px;

  @include vp-1199 {
    margin: 0 0 31px 88px;
  }

  @include vp-767 {
    margin: -3px 0 35px;
  }
}

.contact__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 55px;
  row-gap: 18px;

  max-width: 404px;

  position: relative;

  @include vp-1199 {
    max-width: 490px;
    grid-template-rows: auto;
    row-gap: 19px;
    margin: 0 0 0 88px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: $color-light-slate-grey;
    right: 42%;
    transform: translate(-50%);

    @include vp-1199 {
      right: 45%;
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 19px;

    max-width: none;
    margin: 0;
  }
}

.contact__item {
  &--phone {
    justify-self: end;
    margin-right: 23px;

    @include vp-1199 {
      justify-self: center;
      margin-right: 20px;
    }
  }

  &--mail {
    justify-self: end;

    @include vp-1199 {
      justify-self: center;
      margin-right: -5px;
    }
  }

  @include vp-767 {
    &--address {
      order: 0;
    }

    &--phone {
      order: 2;
    }

    &--timetable {
      order: 1;
    }

    &--mail {
      order: 3;
    }
  }
}

.contact__item h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 6px;
  }
}

.contact__item a {
  font-size: 14px;
  line-height: 21px;
  color: $color-sapphire;

  @media (prefers-color-scheme: dark) {
    color: $color-solitude;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include effects-off {
    &:hover,
    &:focus {
      color: $color-deep-sky-blue;
      text-shadow: 0 0 8px $color-deep-sky-blue;
    }

    &:active {
      color: $color-dodger-blue;
    }
  }

  &:active {
    color: $color-dodger-blue;
  }
}

.contact__item p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}
