.date__number {
  max-width: 64px;
  margin-bottom: 9px;

  @include vp-1199 {
    margin-bottom: 0;
    max-width: 56px;
    padding-right: 13px;
  }
}

.date__number p,
.date__time p {
  font-size: 18px;
  line-height: 27px;
  margin: 0;

  border-bottom: 1px solid $color-default-white;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0;
    margin-bottom: -3px;
  }
}

.date__number-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.date__number p {
  padding-bottom: 2px;
  margin-bottom: -5px;
}

.date__time p {
  padding-bottom: 4px;
  margin-bottom: -7px;
}

.date__number span,
.date__time span {
  display: inline-block;
  vertical-align: middle;

  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @include vp-1199 {
    font-size: 24px;
    line-height: 36px;
  }
}

.date__month p,
.date__month span {
  font-size: 14px;
  line-height: 21px;
  border: none;

  @include vp-1199 {
    font-size: 10px;
    line-height: 15px;
  }
}

// .date__month
.date__month {
  margin-left: 5px;

  @include vp-767 {
    margin-left: 3px;
  }
}

.date__month p {
  @include vp-1199 {
    margin-bottom: -8px;
  }
}

// .date__time
.date__time {
  max-width: 88px;
}
