.free-visit {
  background-color: $color-sapphire;
  padding: 61px 0 66px;

  @include vp-1199 {
    padding: 0;
  }
}

.free-visit__wrapper {
  @include vp-1199 {
    max-width: 688px;
    padding: 70px 5px;
    margin: 0 auto;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 70px 15px 69px 15px;
  }
}

.free-visit h2 {
  line-height: 64px;
  text-align: left;
  color: $color-default-white;
  margin: 0 0 34px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 35px 88px;
  }

  @include vp-767 {
    margin: 0 0 37px;
  }
}
