.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block a {
  font-family: $ff-placeholder-second;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $color-default-white;
  user-select: none;

  transition: letter-spacing $trans-default;

  @include effects-off {
    &:hover,
    &:focus {
      letter-spacing: 1.5px;
      color: $color-dark-erulean;
      // text-shadow: 0 0 8px $color-deep-sky-blue;
    }

    &:active {
      color: $color-purple-heart;
    }
  }

  &:active {
    color: $color-purple-heart;
  }
}
