.intro__image {
  width: 500px;
  height: 556px;
  background-color: $color-cobalt;
  margin-right: 122px;

  @include vp-1199 {
    width: 324px;
    height: 390px;
    margin-right: 0;
    flex-shrink: 0;
  }

  @include vp-767 {
    display: none;
  }
}
