.intro-zone {
  list-style: none;
  margin: 0;
  padding: 0;

  position: absolute;
  left: -96px;
  top: 120px;
  right: 255px;

  @include vp-1199 {
    bottom: 17px;
    left: -80px;
    right: 205px;
    top: 90px;
  }

  @include vp-767 {
    left: 0;
    bottom: 0px;
    right: 180px;
    top: 80px;
  }
}

.intro-zone__item {
  @include vp-1199 {
    margin-bottom: -3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include vp-767 {
    margin-bottom: -3px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.intro-zone a {
  font-size: 14px;
  line-height: 21px;

  color: $color-default-white;
  transition: color $trans-default;

  @include effects-off {
    &:hover,
    &:focus {
      color: $color-crimson;
    }

    &:active {
      color: $color-perano;
    }
  }

   // Эффекты при нажатии в планшетной и мобильной версии
   &:active {
    color: $color-perano;
   }
}
