.reviews h2 {
  margin: 0 0 62px 0;
}

// Позиционируем стрелки переключения карусели
.reviews__wrapper {
  position: relative;
}

.reviews__slider {
  max-width: 560px;

  display: flex;
  align-items: center;
}

// reviews__item

.reviews__item {
  position: relative;

  padding: 62px 62px 62px 165px;
  color: #FFFFFF;
  background: #1C3374;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);
  margin: 0;
}

.reviews__item h3 {
  margin: 0 0 25px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.reviews__item p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.reviews__author {
  width: 80px;
  height: 80px;

  position: absolute;
  top: 70px;
  left: 60px;
}

// reviews__button

.reviews__button {
  background-color: transparent;
  border: none;
}

.reviews__button.swiper-button-prev {
  left: 223px;
}

.reviews__button.swiper-button-next {
  right: 223px;
}

.reviews__button.swiper-button-next::after,
.reviews__button.swiper-button-prev::after {
  content: "";
  position: absolute;
  background-image: url('../img/svg/arrow.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 16px;
  height: 32px;
}

.reviews__button.swiper-button-prev::after {
  left: 6px;
}

.reviews__button.swiper-button-next::after {
  transform: rotate(180deg);
  right: 6px;
}
