.reviews h2 {
  margin: 0 0 62px 0;
}

.reviews__slider {
  max-width: 560px;

  display: flex;
  align-items: center;
}

// reviews__item

.reviews__item {
  position: relative;

  padding: 62px 62px 62px 165px;
  color: #FFFFFF;
  background: #1C3374;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);
  margin: 0;
}

.reviews__item h3 {
  margin: 0 0 25px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.reviews__item p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.reviews__author {
  width: 80px;
  height: 80px;

  position: absolute;
  top: 70px;
  left: 60px;
}

// reviews__button

.reviews__button {
  position: absolute;

  background-color: transparent;
  color: $color-dark-gray;
  border: none;

  &--next {
    content: "";
    position: absolute;
    background-image: url('../img/svg/arrow.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    right: 0;
  }

  &--prev {
    content: "";
    position: absolute;
    background-image: url('../img/svg/arrow.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    left: 0;
  }
}
