.sale h2 {
  margin: 0 0 62px 0;

  @include vp-767 {
    margin: -2px 0 43px;
  }
}

.sale__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 211px);
  gap: 40px;

  @include vp-1199 {
    grid-template-rows: 462px 211px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.popular-sale__list,
.standard-sale {
  list-style: none;
  margin: 0;
  padding: 0;
}

// popular-sale

.popular-sale {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1/-1;

  color: $color-default-white;

  @include vp-1199 {
    grid-column: 1/-1;
    grid-row: auto;
  }

  @include vp-767 {
    display: block;
  }
}

.popular-sale__image {
  width: 280px;
  height: 462px;

  @include vp-1199 {
    width: 399px;
  }

  @include vp-767 {
    height: 299px;
    width: 100%;
  }
}

.popular-sale__list {
  display: flex;
  flex-direction: column;

  background-color: $color-torch-red;
  padding: 33px 35px 33px 45px;

  @include vp-767 {
    align-items: center;
    padding: 33px 47px 43px 47px;
  }
}

// Меняем порядок следования элементов
.popular-sale__item--title {
  order: 2;
}

.popular-sale__item--price {
  order: 1;
}

.popular-sale__item--time {
  order: 0;
}

.popular-sale__item--link {
  order: 3;
}

.popular-sale__item--title h3 {
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 184px 0;

  @include vp-767 {
    text-align: center;
    margin: 0px 0 26px;
  }
}

.popular-sale__item--price span {
  font-weight: 700;
  font-size: 70px;
  line-height: 109px;
  margin: 0 0 0 0;

  @include vp-767 {
    line-height: 104px;
  }
}

.popular-sale__item--time p {
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  margin: 0 0 -25px 0;
}

.popular-sale__item--link a {
  color: $color-default-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  // padding: 5px 0;
  position: relative;
  border-bottom: 1px solid $color-default-white;
}


// standard-sale

.standard-sale {
  color: $color-resolution-blue;
  border: 7px solid;
  padding: 22px 50px 23px 29px;

  border: 7px solid;
  border-image-source: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
  border-image-slice: 26;

  @include vp-767 {
    text-align: center;
    padding: 33px 30px 36px 29px;
  }
}

.standard-sale__item h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 8px;

  @include vp-767 {
    margin: 0 0 10px;
  }
}

.standard-sale__item p {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 65px;

  @include vp-767 {
    margin: 0 0 20px;
  }
}

.standard-sale__item a {
  color: $color-resolution-blue;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  // padding: 5px 0;
  border-bottom: 1px solid $color-resolution-blue;
}
