.sale h2 {
  margin: -7px 0 50px;

  @include vp-1199 {
    margin: -1px 0 42px;
  }

  @include vp-767 {
    margin: -2px 0 45px;
  }
}

.sale__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-rows: minmax(462px, min-content) minmax(211px, min-content);
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
