.social {
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  max-width: 130px;
  margin-right: -4px;
  gap: 0;

  @include vp-1199 {
    margin: 0 -10px 0 0;
  }

  @include vp-767 {
    margin: 0 0 0 -4px;
  }
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  padding: 5px;

  user-select: none;
}

.social__icon {
  width: 100%;
  height: 100%;
  fill: $color-black-russian;
  transition: fill $trans-default;
  background-color: $color-default-white;
  border-radius: 50%;

  transition:
    fill $trans-default,
    background-color $trans-default-1,
    transform $trans-default-1;
}

// Эффекты при наведении в десктопной версии
@include effects-off {
  .social__link:hover .social__icon,
  .social__link:focus .social__icon {
    fill: $color-default-white;
    transform: scale(1.5);
  }

  /* Задаем каждой иконке соц.сетей свой цвет */
  .social__link.social__link--vk:hover .social__icon,
  .social__link.social__link--vk:focus .social__icon {
    background-color: $color-navy-blue;
    box-shadow: 0 0px 25px $color-navy-blue;
  }

  .social__link.social__link--ok:hover .social__icon,
  .social__link.social__link--ok:focus .social__icon {
    background-color: $color-safety-orange;
    box-shadow: 0 0px 25px $color-safety-orange;
  }

  .social__link.social__link--rt:hover .social__icon,
  .social__link.social__link--rt:focus .social__icon {
    background-color: $color-electric-purple;
    box-shadow: 0 0px 25px $color-electric-purple;
  }

  .social__link:active .social__icon {
    fill: $color-default-white;
    transform: scale(1.2) translateY(3px);
  }
}

// Эффекты при нажатии в планшетной и мобильной версии
.social__link:active .social__icon {
  fill: $color-default-white;
}

/* Задаем каждой иконке соц.сетей свой цвет */
.social__link.social__link--vk:active .social__icon {
  background-color: $color-navy-blue;
}

.social__link.social__link--ok:active .social__icon {
  background-color: $color-safety-orange;
}

.social__link.social__link--rt:active .social__icon {
  background-color: $color-electric-purple;
}
