.subscription {
  font-family: $ff-placeholder;
  background-color: $color-ghost-white;

  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: $color-black-russian;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/background/casino-chips.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 285px;
    height: 417px;
    bottom: -73px;
    right: 0;

    @include retina {
      background-image: url("../img/background/casino-chips@2x.png");
      background-size: 285px 417px;
    }

    @include vp-1199 {
      background-image: url("../img/background/casino-chips-tablet.png");
      background-position: 0 0;
      width: 347px;
      height: 375px;
      bottom: -53px;
      right: 0;

      @include retina {
        background-image: url("../img/background/casino-chips-tablet@2x.png");
        background-size: 347px 375px;
      }
    }

    @include vp-767 {
      display: none;
    }
  }
}

.subscription__container {
  padding: 120px 60px;

  @include vp-1199 {
    padding: 100px 5px;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}

.subscription h2 {
  margin: -2px 0 33px;

  @include vp-1199 {
    margin: -2px 0 30px;
  }

  @include vp-767 {
    margin: -2px 0 21px;
  }
}

// subscription__tabs
.subscription__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;

  @include vp-1199 {
    margin-bottom: 43px;
  }

  @include vp-767 {
    margin-bottom: 36px;
  }
}

.subscription__underline-btn {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 44px;
  border-bottom: 2px solid $subscription__underline-btn;

  @include vp-1199 {
    column-gap: 52px;
  }

  @include vp-767 {
    column-gap: 40px;
  }
}

.subscription__tabs button {
  font-family: $ff-placeholder;
  font-size: 20px;
  line-height: 30px;
  background-color: transparent;
  color: $color-sapphire;
  padding: 0 1px 11px;
  border: none;
  cursor: pointer;
  opacity: 0.5;

  transition: color $trans-default, opacity $trans-default;

  @media (prefers-color-scheme: dark) {
    color: $color-solitude;
  }

  @include vp-1199 {
    line-height: 27px;
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
    padding: 0 2px 13px;
    margin-bottom: -2px;
  }

  @include effects-off {

    &:hover,
    &:focus {
      color: $color-crimson;
      opacity: 1;
      border-bottom: 2px solid $color-crimson-2;
      margin-bottom: -2px;
    }

    &:active {
      color: $color-crimson;
    }
  }

  &:active {
    color: $color-crimson;
    opacity: 1;
  }
}

.subscription__tabs button.is-active {
  opacity: 1;
  border-bottom: 2px solid $color-crimson;
  margin-bottom: -2px;

  @include vp-767 {
    // padding: 0px 4px 8px 0px;
  }

  @include effects-off {

    &:hover,
    &:focus {
      color: $color-sapphire;
      border-bottom: 2px solid $color-crimson;

      @media (prefers-color-scheme: dark) {
        color: $color-solitude;
      }
    }
  }
}

.subscription__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    gap: 37px;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.subscription__list.is-active {
  display: grid;

  @include vp-1199 {
    display: flex;
  }
}

.subscription__item {
  display: block;
  text-align: center;
  padding: 56px 26px 62px 26px;
  cursor: pointer;

  background-color: $color-default-white;

  @media (prefers-color-scheme: dark) {
    background-color: $color-default-black-2;
  }

  // Чтобы 'тень' от цены поместить за цену
  position: relative;
  z-index: 5;

  border-image-source: none;
  border: 7px solid;
  border-color: transparent;
  transition: all $trans-default;

  @include vp-1199 {
    width: 442px;
  }

  @include vp-767 {
    width: 100%;
    padding: 42px 25px 15px;
  }

  @include effects-off {
    &:hover,
    &:focus {
      border: 7px solid;
      border-image-source: $red-to-blue;
      border-image-slice: 26;
    }
  }
}

.subscription__item h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  margin: 0 0 10px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
  }
}

.subscription__item p {
  font-size: 16px;
  line-height: 24px;
  color: $color-chambray;
  margin: 0 0 65px;

  @media (prefers-color-scheme: dark) {
    color: $color-echo-blue;
  }

  @include vp-767 {
    margin: 0 0 53px;
  }
}

.subscription__price {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  margin-bottom: 34px;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.subscription__item span:first-child {
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: #e8e8e8;
  opacity: 0.48;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -56px;
  z-index: -1;

  @include vp-767 {
    font-size: 80px;
    line-height: 120px;
    top: -43px;
  }
}

.subscription__price span {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;
  margin-right: 11px;

  @media (prefers-color-scheme: dark) {
    color: $color-lavender-blue;
  }

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
  }
}

.subscription__price-currency {
  width: 30px;
  height: 42px;
  fill: $color-sapphire;

  @media (prefers-color-scheme: dark) {
    fill: $color-solitude;
  }

  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.subscription__item a {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid $color-sapphire;
  padding: 24px 42px 24px;
  margin: 0 auto;
  max-width: 208px;

  color: $color-sapphire;
  transition:
    background-image $trans-600,
    color $trans-600,
    border-radius $trans-600;

  position: relative;
  overflow: hidden;

  /* Убираем иконку в планшетной/мобильной версии */
  @include effects-off {
    &::before {
      content: "\1F4AA";
      position: absolute;
      font-size: 17px;
      line-height: 20px;
      width: 24px;
      height: 22px;

      left: -50px;
      top: 50%;
      transform: translateY(-50%);

      transition: left $trans-default;
    }
  }

  @media (prefers-color-scheme: dark) {
    color: $color-default-white;
  }

  @include vp-767 {
    padding: 24px 43px 24px;
  }

  // Эффекты при наведении в десктопной версии
  @include effects-off {
    &:hover,
    &:focus {
      background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
      color: $color-default-white;
      border-radius: 30px;

      /* Сделаем немного другую анимацию в темной теме сайта */
      @media (prefers-color-scheme: dark) {
        border-radius: 10px;
        animation: pulsate 1s ease-in-out;
      }

      &::before {
        left: 10px;
      }
    }

    &:active {
      color: #dee9ff;
      border-radius: 10px;
      opacity: 1;
      background: $color-torch-red;

    }
  }

  // Эффекты при нажатии в планшетной и мобильной версии
  &:active {
    background: $color-torch-red;
    border-radius: 10px;
    background: $blue-to-red;
    color: #dee9ff;
    border-radius: 10px;
  }
}

/* Анимация пульсации кнопки - "купить абонемент" */
@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px $color-turquoise-blue, 0 0 50px $color-electric-indigo;
  }
}
