.subscription {
  font-family: $ff-placeholder;
  background-color: $color-ghost-white;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/background/casino-chips.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 285px;
    height: 417px;
    bottom: -75px;
    right: 4px;

    @include vp-1199 {
      background-image: url("../img/background/casino-chips-tablet.png");
      background-position: 0 0;
      width: 347px;
      height: 375px;
      bottom: -53px;
      right: 0;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.subscription__container {
  padding: 120px 20px;

  @include vp-1199 {
    padding: 100px 5px;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}

.subscription h2 {
  margin: -2px 0 34px;

  @include vp-1199 {
    margin: -2px 0 30px;
  }

  @include vp-767 {
    margin: -2px 0 21px;
  }
}

// subscription__tabs
.subscription__tabs {
  display: flex;
  justify-content: center;
  column-gap: 35px;
  margin-bottom: 37px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1199 {
    column-gap: 43px;
    margin-bottom: 43px;
  }

  @include vp-767 {
    column-gap: 41px;
    margin-bottom: 36px;
  }
}

.subscription__tabs button {
  font-family: $ff-placeholder;
  font-size: 20px;
  line-height: 30px;
  background-color: transparent;
  color: $color-sapphire;
  padding-bottom: 11px;
  border: none;
  cursor: pointer;
  opacity: 0.5;

  @include vp-1199 {
    line-height: 27px;
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
    padding: 0 2px 13px;
    margin-bottom: -2px;
  }
}

.subscription__tabs button.is-active {
  opacity: 1;
  border-bottom: 2px solid $color-crimson;

  @include vp-767 {
    // padding: 0px 4px 8px 0px;
  }
}

.subscription__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.subscription__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 26px;
  height: 448px;
  cursor: pointer;

  background-color: $color-default-white;

  // Чтобы 'тень' от цены поместить за цену
  position: relative;
  z-index: 5;

  border-image-source: none;
  border: 7px solid;
  border-color: transparent;
  transition: all $trans-default;

  @include vp-1199 {
    width: 442px;
  }

  @include vp-767 {
    width: 100%;
    height: 384px;
    padding: 42px 25px 15px;
  }

  // @mixin effects-off {
  &:hover {
    border: 7px solid;
    border-image-source: $red-to-blue;
    border-image-slice: 26;
  }

  // }
}

.subscription__item h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  margin: 0 0 10px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
  }
}

.subscription__item p {
  font-size: 16px;
  line-height: 24px;
  color: $color-chambray;
  margin: 0 0 65px;

  @include vp-767 {
    margin: 0 0 53px;
  }
}

.subscription__price {
  position: relative;

  margin-bottom: 34px;
  padding-right: 45px;

  @include vp-767 {
    margin-bottom: 30px;
    padding-right: 32px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/decorative/ruble.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 42px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    @include vp-767 {
      right: -7px;
    }
  }
}

.subscription__item span:first-child {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
  }
}

.subscription__price span:last-child {
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: #e8e8e8;
  opacity: .48;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -56px;
  z-index: -1;

  @include vp-767 {
    font-size: 80px;
    line-height: 120px;
    top: -43px;
  }
}

.subscription__item a {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid $color-sapphire;
  padding: 24px 42px 24px;
  max-width: 208px;

  color: $color-sapphire;
  transition: background $trans-600, color $trans-600;


  @include vp-767 {
    padding: 24px 43px 24px;
  }

  // @mixin effects-off {
  &:hover,
  &:focus {
    background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
    color: $color-default-white;
    border: none;
  }

  &:active {
    background: $color-torch-red;
  }

  // }

  // &:active {
  //   background: #ED0233;
  // }
}

// Свойства для JS

.subscription__list {
  display: none;
}

.subscription__list.is-active {
  display: grid;

  @include vp-1199 {
    display: flex;
  }
}
