.switcher {
  margin: 0;
}

.switcher label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  height: 80px;
}

.switcher input {
  visibility: hidden;
}

.switcher__round {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  background-color: yellow;
  box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.2),
  5px 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;

  &::before {
    content: "";
    position: absolute;
    height: 65px;
    width: 65px;
    background: #fff;
    border-radius: 50px;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
  }
}

.switcher input:checked + .switcher__round {
  background-color: red;
}

.switcher input:checked + .switcher__round::before {
  transform: translate(177px, -50%);
}

.switcher span:last-child {
  position: relative;
  text-align: center;
  margin: 0;
  pointer-events: none;
  font-size: 32px;
  line-height: 24px;
  font-weight: 700;
  display: block;
}
